@{
    ViewBag.Title = "Index";
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(verFeatures());
        function agregarFeature() {


            var m = {
                Nombre: $("#txtFeature").val()
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddFeature")',
                data: AddAntiForgeryToken(m),
                success: function (result) {
                    $("#result").html(result);
                    $("#txtFeature").val('')
                },

            });
        }

        function verFeatures() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Details")',
                @*data:{servicioId: @Model.},*@
                success: function (result) {
                    $("#result").html(result);
                }
            });
        }
        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val();
            return data;
        };
    </script>
}
<div class="container" style="min-height:100vh; margin-top:8em; margin-bottom: 4em;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Agregar Características</h2>
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
        {
            @Html.AntiForgeryToken()
        }
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="result">

            </div>
            <input type="text" name="txtFeature" id="txtFeature" />
            <button id="sub" onclick="agregarFeature();"></button>

        </div>
    </div>
</div>

