@{
    ViewBag.Title = "";
}


<header>
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12">
                @*<img class="img-responsive" src="~/img/profile.png" alt="">*@
                @*<div style="margin:6em;"></div>*@
                <img id="computer" src="~/img/computer128white.png"/>
                <div class="intro-text">
                    <span class="name">A&S Solutions</span>
                    <hr class="soften">
                    <span class="skills"> Soluciones a Medida</span>
                </div>
            </div>
        </div>
    </div>
</header>

@{Html.RenderPartial("Portfolio");}
@{Html.RenderPartial("About");}
@{Html.RenderPartial("Contact");}
@{Html.RenderPartial("Modals");}
