.navbar-default {
    background-color: rgba(36, 93, 160, 0.51); /*#2462A0;*/
}

header {
    background: url(../../img/home1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

hr.soften {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,.8), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,.8), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,.8), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,.8), rgba(0,0,0,0));
    border: 0;
}

section h2 {
    font-size: 2.5em;
}


@media (min-width: 1200px) {

    #computer {
        margin-top: 10em;
    }
}

@media (max-width: 760px) {

    #computer {
        margin-top: 12em;
    }
}

.services {
    width: 1000px;
    overflow: auto;
    margin: 0 auto;
}

.pricecol {
    /*width: 31%;*/
    /*background:rgba(31, 27, 54,0.8);*/ /*rgb(38, 48, 52);*/
    background: rgba(28, 0, 189, 0.7);
    min-height: 30%;
    /*border-radius:10px;*/
    position: relative;
    padding: 10px 0px;
    text-align: center;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*float: left;*/
    /*margin: 0 5px;*/
    margin-bottom: 15px;
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    /*background:rgb(108, 140, 54);*/
    background: rgb(212, 212, 212);
    color: #fff;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

    .icon i {
        font-size: 30px;
        position: relative;
        top: 15px;
    }

.pricecol h3 {
    text-align: center;
    /*background:rgb(34, 43, 47);*/
    background: rgb(94, 93, 177);
    text-align: center;
    /*border-top:1px solid rgb(25, 31, 34);*/
    /*border-bottom:1px solid rgb(51, 60, 64);*/
    color: #fff;
}

    .pricecol h3 span {
        border-top: 1px solid rgba(255, 255,255,0.3);
        border-bottom: 1px solid rgba(255, 255,255,0.3);
        display: block;
        padding: 10px 0px;
        /*font-family:verdana;*/
        font-size: 20px;
    }

.pricecol .fa-star {
    font-size: xx-large;
    color: white;
}

.pricecol .button {
    border-radius: 2px;
    border: 3px solid rgba(233, 213, 255, 0.26);
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    margin-top: 15px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15);
    cursor: pointer;
    display: inline-block;
}

    .pricecol .button span {
        display: inline-block;
        padding: 10px 15px;
        background: transparent; /*none repeat scroll 0% 0% rgb(212, 212, 212);*/
        /*border-radius:20px;*/
        /*box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3) inset, 0px 2px 0px rgba(255, 255, 255, 0.1) inset;*/
    }

.pricecol ul {
    list-style-type: none;
    padding: 0px;
    color: #000;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    /*color:rgb(165, 174, 178);*/
    color: rgb(247, 253, 255);
    /*border-bottom:1px solid rgb(51, 60, 64);*/
    border-top: 1px solid rgba(0,0,0,0.1);
}

.pricecol li {
    /*padding:10px 0px;*/
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /*border-top:1px solid rgb(51, 60, 64);*/
    /*border-bottom:1px solid rgb(25, 31, 34);*/
}

    .pricecol li .feature {
        line-height: 3;
        font-size: 1em;
        text-transform: uppercase;
    }

#servicios {
    background-color: #8FACCE;
}

.footer-above, .footer-below {
    background-color: rgba(36, 93, 160, 1) !important;
}
